/* ========== */
/*  共通設定  */
/* ========== */


body {
    background: linear-gradient(to top, rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url(img/img7.jpg);
    background-size: cover;
    height: 100vh;
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
  }
  
  h2 {
    color: white;
  }
  
  /* 入力部品の設定 */
  input[type="text"],
  input[type="email"],
  textarea {
    border: 1px solid #cdd6dd;
    border-radius: 10px;
    box-sizing: border-box;
    color: #333333;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 16px;
    margin-bottom: 17px;
    padding: 12px 20px 14px;
    width: 100%;
  }
  
  /* textareaだけ高さ調整 */
  textarea {
    height: 150px;
  }
  
  /* ボタンの設定 */
  .btn {
    background-color: #2e5180;
    border: none;
    border-radius: 20px;
    color: #ffffff;
    cursor: pointer;
    margin: 0;
    padding: 10px;
    width: 100%;
    font-size: 16px;
  }
  
  .container {
    width: 35%;
    padding-top: 80px;
  }
  
  .wrapper {
    border-radius: 15px;
    margin-left: 30%;
    min-width: 320px;
  }
  
  
  /* ========== */
  /*  form2.html */
  /* ========== */
  
  /* 入力部品のプレイスホルダーのスタイル設定 */
  .form::placeholder {
    color: #cdd6dd;
    opacity: 1;
  }
  
  
  /* =========== */
  /* comfirm.php */
  /* =========== */
  
  .confirm {
    border-left: 3px solid rgb(235, 235, 235);
    color: rgb(255, 255, 255);
    font-size: 18px;
    margin-bottom: 25px;
    padding: 0 0 10px 5px;
  }
  
  /* 横並びスタイルとボタンを下に配置 */
  .flexbox {
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
  }
  
  /* 背景色だけ変更 */
  .gray {
    background-color: gray;
  }
  
  /* 横並びボタンの幅 */
  .half {
    width: 48%;
  }